<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | RCM.Presentation.Web</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/materialize//css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="row no-pad-top max-percent-height mb-0">
        <div class="col m2 s12 hide-on-small-and-down no-margin no-padding max-percent-height">
            @Html.Partial("_Sidebar")
        </div>
        <div class="col s12 m10 no-margin max-percent-height no-padding">
            <div>
                <nav class="z-depth-0">
                    <div class="nav-wrapper white text-violet px-2">
                        <h6 class="d-inlineblock">@Html.Raw(DateTime.Now.ToLongDateString())</h6>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        
                        <!-- PC Sidebar -->
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li>
                                <a asp-action="Index" asp-controller="Settings">
                                    <i class="material-icons center px-2">notifications</i>
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Manage">
                                    <i class="material-icons left">settings</i>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a asp-action="Login" asp-controller="Account">
                                    <i class="material-icons left">account_circle</i>Login
                                </a>
                            </li>
                        </ul>

                        <!-- Mobile Sidebar-->
                        <ul class="side-nav" id="mobile-demo">
                            <li>
                                <a asp-action="Index" asp-controller="Settings">
                                    <i class="material-icons left">notifications</i>Notifications
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Settings">
                                    <i class="material-icons left">settings</i>Settings
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Login">
                                    <i class="material-icons left">account_circle</i>Login
                                </a>
                            </li>
                        </ul>
                    
                    </div>
                </nav>
            </div>
            <div class="body-content">
                @await Component.InvokeAsync("Notifications")
                @RenderBody()
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2018 - RCM.Presentation.Web</p>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/js/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

