@using RCM.Domain.Models.FornecedorModels;

@model RCM.Presentation.Web.ViewModels.FornecedorIndexViewModel

@{
    ViewData["Title"] = "Fornecedores - Índice";
}

<float-action-button controller="Fornecedores"></float-action-button>

<div class="form-container col s12 m12">
    <form>
        @await Component.InvokeAsync("SearchBar", new Dictionary<string, string>() { { "Nome", "nomePrefix" } })
    </form>

    @if (Model.Fornecedores.List.Any())
    {
        <table class="highlight">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedores.List.FirstOrDefault().Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedores.List.FirstOrDefault().Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedores.List.FirstOrDefault().Documento.CadastroNacional)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedores.List.FirstOrDefault().Documento.CadastroEstadual)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedores.List.FirstOrDefault().Contato.TelefoneComercial)
                    </th>
                </tr>
            </thead>
            <tbody class="table-body">
                @foreach (var item in Model.Fornecedores.List)
                {
                    <tr>
                        <td class="d-hidden">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @if (item.Tipo == FornecedorTipoEnum.PessoaFisica)
                            {
                                @Html.Raw("Pessoa Física")
                            }
                            else
                            {
                                @Html.Raw("Pessoa Jurídica")
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Documento.CadastroNacional)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Documento.CadastroEstadual)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="col s12 m12">
            <ul class="pagination center pt-2">
                @{
                    var queryStringHelper = new Dictionary<string, string>
                                                                {
                                                                    { "nome", Model.Nome.ToString() },
                                                                };

                }

                @if (Model.Fornecedores.IsFirstPage)
                {
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                }
                else
                {
                    <li>
                        <a asp-all-route-data="queryStringHelper" asp-route-pageNumber="@(Model.Fornecedores.PageNumber - 1)"><i class="material-icons">chevron_left</i></a>
                    </li>
                }

                @for (int i = 1; i <= Model.Fornecedores.TotalPages; i++)
                {
                    <li class="waves-effect @(Model.Fornecedores.PageNumber == i ? "active" : "")">
                        <a asp-all-route-data="queryStringHelper" asp-route-pageNumber="@i" asp-route-pageSize="@Model.Fornecedores.PageSize">@i</a>
                    </li>
                }

                @if (Model.Fornecedores.IsLastPage)
                {
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                }
                else
                {
                    <li>
                        <a asp-all-route-data="queryStringHelper" asp-route-pageNumber="@(Model.Fornecedores.PageNumber + 1)"><i class="material-icons">chevron_right</i></a>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <p class="px-1 col s12 m12">
            <i class="material-icons left">warning</i>
            Nenhum fornecedor encontrado.
        </p>
    }
</div>