@using RCM.Domain.Models.FornecedorModels;

@model RCM.Presentation.Web.ViewModels.FornecedorIndexViewModel

@{
    ViewData["Title"] = "Fornecedores - Índice";
}

<float-action-button controller="Fornecedores"></float-action-button>

<div class="form-container col s12 m12">
    <form>
        <div class="col s12 m12">
            <div class="row my-0 py-0">
                <div class="input-field col s5 m5">
                    <label for="nome">Nome do Fornecedor</label>
                    <input asp-for="Nome" class="input-field" />
                </div>
                <div class="input-field col s4 m3">
                    <select>
                        <option value="nome">Nome do Fornecedor</option>
                    </select>
                </div>
                <div class="col s4 m4 pt-2 px-0 mx-0 w-100">
                    <a class="btn waves-effect purple left no-border col s1 m2" id="advancedSearchToggler">
                        <i class="material-icons center">keyboard_arrow_down</i>
                    </a><button type="submit" class="btn waves-effect purple no-border col s11 m10">
                        <i class="material-icons right">search</i>
                        Pesquisar
                    </button>
                </div>
            </div>
        </div>

        <div id="advancedSearch" class="col s12 m12">
            <div class="row">
                <div class="input-field col s12 m3">
                    <input asp-for="CadastroNacional" class="input-field" />
                    <label for="minValor">CNPJ/CPF</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="CadastroEstadual" class="input-field" />
                    <label for="maxValor">RG/Inscrição Estadual</label>
                </div>
                <div class="input-field col s12 m6">
                    <select asp-for="Tipo" asp-items="@(new SelectList(Enum.GetNames(typeof(FornecedorTipoEnum)).ToList()))">
                        <option value="">Todos os tipos</option>
                    </select>
                    <label for="tipo">Tipo de Fornecedor</label>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Fornecedores.List.Any())
    {
        <table class="highlight">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedores.List.FirstOrDefault().Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedores.List.FirstOrDefault().Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedores.List.FirstOrDefault().DocumentoCadastroNacional)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedores.List.FirstOrDefault().DocumentoCadastroEstadual)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedores.List.FirstOrDefault().ContatoTelefoneComercial)
                    </th>
                </tr>
            </thead>
            <tbody class="table-body">
                @foreach (var item in Model.Fornecedores.List)
                {
                    <tr>
                        <td class="d-hidden">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @if (item.Tipo == FornecedorTipoEnum.PessoaFisica)
                            {
                                @Html.Raw("Pessoa Física")
                            }
                            else
                            {
                                @Html.Raw("Pessoa Jurídica")
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentoCadastroNacional)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentoCadastroEstadual)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContatoTelefoneComercial)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="col s12 m12">
            @{
                var queryStringHelper = new Dictionary<string, string>
                {
                    { "nome", Model.Nome },
                    { "tipo", Model.Tipo?.ToString() },
                    { "cadastroNacional", Model.CadastroNacional },
                    { "cadastroEstadual", Model.CadastroEstadual },
                    { "pageSize", Model.Fornecedores.PageSize.ToString() },
                };

                var listHelper = new Dictionary<string, string>().LoadPagination(Model.Fornecedores);
            }

            @Html.Partial("_Pagination", new ViewDataDictionary(this.ViewData)
            {
                { "listHelper", listHelper },
                { "queryStringHelper", queryStringHelper }
            })
        </div>
    }
    else
    {
        <p class="px-1 col s12 m12">
            <i class="material-icons left">warning</i>
            Nenhum fornecedor encontrado.
        </p>
    }
</div>