<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | RCM Beta </title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css"
              asp-fallback-href="~/lib/materialize/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="row no-pad-top h-5 mb-0">
        <div class="col s12 m2 hide-on-small-only p-0 m-0 h-5">
            @Html.Partial("_Sidebar")
        </div>
        <div class="col s12 m10 m-0 h-5 p-0">
            <div>
                <nav class="z-depth-0">
                    <div class="nav-wrapper white text-purple px-2">
                        <h6 id="menu-top-bar" class="d-inlineblock">@Html.Raw(DateTime.Now.ToLongDateString())</h6>
                        <a id="menu-collapse" href="#" data-activates="mobile-demo" class="button-collapse text-black hide-on-med-and-up"><i class="material-icons">menu</i></a>

                        @await Component.InvokeAsync("UserInformation")
                    </div>
                </nav>
            </div>
            @await Component.InvokeAsync("NotificationsBar")

            <div class="side-nav" id="mobile-demo">
                @Html.Partial("_Sidebar")
            </div>

            <div class="platform-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/js/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/notifications.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/materialize/js/materialize.min.js"
                asp-fallback-src="~/lib/materialize/js/materialize.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/notifications.min.js" asp-append-version="true"></script>
    </environment>
    <script>
            var currentUrl = '@Context.Request.Scheme' + '://' + '@Context.Request.Host' + '@Context.Request.Path';
            if ('@Context.Request.Path' == '/Platform')
            currentUrl = currentUrl.concat('/Clientes')
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>

