@model RCM.Application.ViewModels.NotaFiscalViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NotaFiscalViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataChegada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataChegada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
