@model IEnumerable<RCM.Application.ViewModels.ClienteViewModel>

@{
    ViewData["Title"] = "Clientes - Índice";
}

<float-action-button controller="Clientes"></float-action-button>

<div class="form-container col s12 m12">
    @await Component.InvokeAsync("SearchBar", new Dictionary<string, string>() { { "Nome do Cliente", "clientePrefix" } })
    
    @if (Model.Any())
    {
        <table class="highlight centered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                </tr>
            </thead>
            <tbody class="table-body">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="px-1">
            <i class="material-icons left">warning</i>
            Nenhum cliente encontrado.
        </p>
    }
</div>