@model RCM.Presentation.Web.ViewModels.ProdutosIndexViewModel

@{
    ViewData["Title"] = "Produtos - Índice";
}

<float-action-button controller="Produtos"></float-action-button>

<div class="form-container col s12 m12">
    <form class="row">
        <div class="col s12 m12">
            <div class="row my-0 py-0">
                <div class="input-field col s12 m5">
                    <label for="nome">Nome do Produto</label>
                    <input asp-for="Nome" />
                </div>
                <div class="input-field col s12 m3">
                    <select>
                        <option value="nome">Nome do Produto</option>
                    </select>
                </div>
                <div class="col s12 m4 pt-2 px-0 mx-0 w-100">
                    <a class="btn waves-effect purple left no-border col s2 m2" id="advancedSearchToggler">
                        <i class="material-icons center">keyboard_arrow_down</i>
                    </a>
                    <button type="submit" class="btn waves-effect purple no-border col s10 m10">
                        <i class="material-icons right">search</i>
                        Pesquisar
                    </button>
                </div>
            </div>
        </div>

        <div id="advancedSearch" class="col s12 m12">
            <div class="row">
                <div class="input-field col s12 m3">
                    <input asp-for="MinValor" class="input-field" />
                    <label for="minValor">Preço mínimo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="MaxValor" class="input-field" />
                    <label for="maxValor">Preço máximo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="MinEstoque" class="input-field" />
                    <label for="minEstoque">Estoque mínimo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="MaxEstoque" class="input-field" />
                    <label for="maxEstoque">Estoque máximo</label>
                </div>
                <div class="input-field col s12 m6">
                    <select asp-for="MarcaId" asp-items="@(new SelectList(Model.Marcas, "Id", "Nome"))">
                        <option value="">Todos as Marcas</option>
                    </select>
                    <label for="marcaId">Escolher Marca</label>
                </div>
                <div class="input-field col s12 m6">
                    <input asp-for="ProdutoId" class="input-field" />
                    <label for="produtoId">Id do Produto</label>
                </div>
                <div class="input-field col s12 m4">
                    <input asp-for="ReferenciaFabricante" class="input-field" />
                    <label for="referenciaFabricante">Referência do Fabricante</label>
                </div>
                <div class="input-field col s12 m4">
                    <input asp-for="ReferenciaOriginal" class="input-field" />
                    <label for="produtoId">Referência Original</label>
                </div>
                <div class="input-field col s12 m4">
                    <input asp-for="ReferenciaAuxiliar" class="input-field" />
                    <label for="referenciaAuxiliar">Referência Auxiliar</label>
                </div>
                <div class="input-field col s12 m2">
                    <input asp-for="AplicacaoMarca" class="input-field" />
                    <label for="referenciaFabricante">Marca de Aplicação</label>
                </div>
                <div class="input-field col s12 m2">
                    <input asp-for="AplicacaoModelo" class="input-field" />
                    <label for="produtoId">Modelo de Aplicação</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="AplicacaoMotor" class="input-field" />
                    <label for="referenciaAuxiliar">Motores de Aplicação</label>
                </div>
                <div class="input-field col s12 m5">
                    <input asp-for="AplicacaoObservacao" class="input-field" />
                    <label for="referenciaAuxiliar">Ano/Observações da Aplicação</label>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Produtos.List.Any())
    {
        <div class="mx-2">
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Produtos.List.FirstOrDefault().Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Produtos.List.FirstOrDefault().ReferenciaFabricante)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Produtos.List.FirstOrDefault().ReferenciaOriginal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Produtos.List.FirstOrDefault().ReferenciaAuxiliar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Produtos.List.FirstOrDefault().Estoque)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Produtos.List.FirstOrDefault().PrecoVenda)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Produtos.List.FirstOrDefault().Marca)
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    @foreach (var item in Model.Produtos.List)
                    {
                        <tr class="@(item.ItemEstoqueRazoavel ? "bg-warning" : "") @(item.ItemEstoqueBaixo ? "bg-danger" : "")">
                            <td class="d-hidden">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @if (item.ReferenciaFabricante != null)
                                {
                                    @item.ReferenciaFabricante
                                }
                                else
                                {
                                    <span class="font-italic">Nulo</span>
                                }
                            </td>
                            <td>
                                @if (item.ReferenciaOriginal != null)
                                {
                                    @item.ReferenciaOriginal
                                }
                                else
                                {
                                    <span class="font-italic">Nulo</span>
                                }
                            </td>
                            <td>
                                @if (item.ReferenciaAuxiliar != null)
                                {
                                    @item.ReferenciaAuxiliar
                                }
                                else
                                {
                                    <span class="font-italic">Nulo</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estoque)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecoVenda)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Marca.Nome)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col s12 m12">
            <ul class="pagination center pt-2">
                @{
                    var queryStringHelper = new Dictionary<string, string>
                                        {
                                            { "marcaId", Model.MarcaId?.ToString() },
                                            { "minValor", Model.MinValor?.ToString() },
                                            { "maxValor", Model.MaxValor?.ToString() },
                                            { "minEstoque", Model.MinEstoque?.ToString() },
                                            { "maxEstoque", Model.MaxEstoque?.ToString() },
                                            { "nome", Model.Nome?.ToString() },
                                            { "aplicacaoMarca", Model.AplicacaoMarca?.ToString() },
                                            { "aplicacaoModelo", Model.AplicacaoModelo?.ToString() },
                                            { "aplicacaoMotor", Model.AplicacaoMotor?.ToString() },
                                            { "aplicacaoObservacao", Model.AplicacaoObservacao?.ToString() },
                                            { "referenciaFabricante", Model.ReferenciaFabricante?.ToString() },
                                            { "referenciaOriginal", Model.ReferenciaOriginal?.ToString() },
                                            { "referenciaAuxiliar", Model.ReferenciaAuxiliar?.ToString() },
                                            { "produtoId", Model.ProdutoId?.ToString() },
                                            { "pageSize", Model.Produtos.PageSize.ToString() },
                                        };

                    var listHelper = new Dictionary<string, string>().LoadPagination(Model.Produtos);
                }

                @Html.Partial("_Pagination", new ViewDataDictionary(this.ViewData)
                {
                    { "listHelper", listHelper },
                    { "queryStringHelper", queryStringHelper }
                })
            </ul>
        </div>
    }
    else
    {
        <p class="px-1 col s12 m12">
            <i class="material-icons left">warning</i>
            Nenhum produto encontrado.
        </p>
    }
</div>