@model RCM.Application.ViewModels.ProdutoViewModels.AplicacaoViewModel

<p class="px-1 font-bold lead">
    Informação geral
</p>

<dl class="detail-list">
    <dt>
        <label asp-for="Id"></label>
    </dt>
    <dd>
        @Model.Id
    </dd>
    <dt>
        <label asp-for="CarroMarca"></label>
    </dt>
    <dd>
        @Model.CarroMarca
    </dd>
    <dt>
        <label asp-for="CarroModelo"></label>
    </dt>
    <dd>
        @Model.CarroModelo
    </dd>

    <dt>
        <label asp-for="CarroAno"></label>
    </dt>
    <dd>
        @Model.CarroAno
    </dd>

    <dt>
        <label asp-for="CarroMotor"></label>
    </dt>
    <dd>
        @Model.CarroMotor
    </dd>

    <dt>
        <label asp-for="Observacao"></label>
    </dt>
    <dd>
        @Model.Observacao
    </dd>
</dl>