@model RCM.Application.ViewModels.BancoViewModel

<p class="px-1 font-bold lead">
    Informação geral
</p>

<dl class="detail-list">
    <dt>
        <label asp-for="Id"></label>
    </dt>
    <dd>
        @Model.Id
    </dd>
    <dt>
        <label asp-for="CodigoCompensacao"></label>
    </dt>
    <dd>
        @Model.CodigoCompensacao
    </dd>
    <dt>
        <label asp-for="Nome"></label>
    </dt>
    <dd>
        @Model.Nome
    </dd>
    <dt>
        <label asp-for="QuantidadeCheques"></label>
    </dt>
    <dd>
        @if (Model.QuantidadeCheques > 0)
        {
            <a asp-action="Index" asp-controller="Cheques" asp-route-bancoId="@Model.Id">@Model.QuantidadeCheques cheques encontrados</a>
        }
        else
        {
            <span class="font-italic text-warning">
                <i class="material-icons left">warning</i>
                Nenhum cheque encontrado.
            </span>
        }
    </dd>
</dl>