@using RCM.Domain.Models.ChequeModels.ChequeStates;

@model RCM.Application.ViewModels.ChequeViewModels.ChequeViewModel

<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a href="#geral" class="active">Geral</a></li>
            <li class="tab col s3"><a href="#banco">Dados Bancários</a></li>
            <li class="tab col s3"><a href="#vencimento">Emissão/Vencimento</a></li>
            <li class="tab col s3"><a href="#situacao">Situação</a></li>
        </ul>
    </div>

    <div id="geral" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informação Geral
        </p>
        <div>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Id"></label>
                </dt>
                <dd>
                    @Model.Id
                </dd>
                <dt>
                    <label asp-for="@Model.NumeroCheque"></label>
                </dt>
                <dd>
                    @Model.NumeroCheque
                </dd>
                <dt>
                    <label asp-for="@Model.Cliente"></label>
                </dt>
                <dd>
                    <a asp-action="Details" asp-controller="Clientes" asp-route-id="@Model.ClienteId">
                        @Model.Cliente.Nome
                    </a>
                </dd>
                <dt>
                    <label asp-for="@Model.Valor"></label>
                </dt>
                <dd>
                    @Model.Valor.ToString("c")
                </dd>
            </dl>
        </div>
    </div>

    <div id="banco" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informações Bancárias do Cheque
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Banco"></label>
                </dt>
                <dd>
                    @if (Model.Banco != null)
                    {
                        <a asp-action="Details" asp-controller="Bancos" asp-route-id="@Model.BancoId">
                            @Model.Banco.Nome
                        </a>
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>
                            Nenhum banco relacionado.
                        </span>
                    }
                </dd>
                <dt>
                    <label asp-for="@Model.Agencia"></label>
                </dt>
                <dd>
                    @Model.Agencia
                </dd>
                <dt>
                    <label asp-for="@Model.Conta"></label>
                </dt>
                <dd>
                    @Model.Conta
                </dd>
            </dl>
        </div>
    </div>

    <div id="vencimento" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informações sobre Emissão e Vencimento
        </p>
        <dl class="detail-list">
            <dt>
                <label asp-for="@Model.DataEmissao"></label>
            </dt>
            <dd>
                @Model.DataEmissao.ToShortDateString() <span class="font-italic small text-muted">(@Model.DataEmissao.ToLongDateString())</span>
            </dd>
            <dt>
                <label asp-for="@Model.DataVencimento"></label>
            </dt>
            <dd>
                @Model.DataVencimento.ToShortDateString() <span class="font-italic small text-muted">(@Model.DataVencimento.ToLongDateString())</span>
            </dd>
        </dl>
    </div>

    <div id="situacao" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Situação do Cheque
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="EstadoCheque"></label>
                </dt>
                <dd>
                    @{
                        if (Model.EstadoCheque != null)
                        {
                            var dataEvento = Model.EstadoCheque.DataEvento.ToShortDateString();

                            switch (Model.EstadoCheque.Estado)
                            {
                                case EstadoChequeEnum.Bloqueado:
                                    <span>Bloqueado desde o dia @dataEvento</span>
                                    break;
                                case EstadoChequeEnum.Compensado:
                                    <span>Compensado no dia @dataEvento</span>
                                    break;
                                case EstadoChequeEnum.Repassado:
                                    var clienteRepassado = Model.EstadoCheque.Fornecedor;
                                    <span>Repassado no dia @dataEvento</span><br />
                                    <span>Repassado para </span><a asp-action="Details" asp-controller="Clientes" asp-route-id="@clienteRepassado.Id">@clienteRepassado.Nome</a>
                                    break;
                                case EstadoChequeEnum.Sustado:
                                    var motivoSustado = Model.EstadoCheque.Motivo;
                                    <span>
                                        Sustado no dia @dataEvento <br />
                                        Motivo: @motivoSustado
                                    </span>
                                    break;
                                case EstadoChequeEnum.Devolvido:
                                    var motivoDevolucao = Model.EstadoCheque.Motivo;
                                    <span>
                                        Devolvido no dia @dataEvento <br />
                                        Motivo: @motivoDevolucao
                                    </span>
                                    break;
                            }
                        }
                        else
                        {
                            <span class="font-italic text-danger">
                                <i class="material-icons left">warning</i>Nenhum estado, evento ou situação foi encontrado para o cheque.
                            </span> <a asp-action="Bloquear" asp-route-id="@Model.Id" class="font-italic">Clique aqui para corrigir</a>
                        }
                    }
                </dd>
            </dl>

            @if (Model.EstadoCheque != null)
            {
                <div class="pt-1 px-1">
                    <a asp-action="Bloquear" asp-route-id="@Model.Id">Bloquear</a><br />
                    <a asp-action="Compensar" asp-route-id="@Model.Id">Compensar</a><br />
                    <a asp-action="Repassar" asp-route-id="@Model.Id">Repassar</a><br />
                    <a asp-action="Devolver" asp-route-id="@Model.Id">Devolver</a><br />
                    <a asp-action="Sustar" asp-route-id="@Model.Id">Sustar</a><br />
                </div>
            }
        </div>
    </div>
</div>