@model RCM.Application.ViewModels.ClienteViewModel

<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a href="#geral" class="active">Geral</a></li>
            <li class="tab col s3"><a href="#enderecos">Endereços</a></li>
            <li class="tab col s3"><a href="#contatos">Contatos</a></li>
            <li class="tab col s3"><a href="#cheques">Cheques</a></li>
        </ul>
    </div>

    <div id="geral" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informação Geral
        </p>
        <dl class="detail-list">
            <dt>
                <label asp-for="Id">Identificação</label>
            </dt>
            <dd>
                @Model.Id
            </dd>
            <dt>
                <label asp-for="Nome">Nome</label>
            </dt>
            <dd>
                @Model.Nome
            </dd>
            <dt>
                <label asp-for="Descricao">Descrição</label>
            </dt>
            <dd>
                @if (!string.IsNullOrWhiteSpace(Model.Descricao))
                {
                    @Model.Descricao
                }
                else
                {
                    <span class="font-italic text-warning">
                        <i class="material-icons left">warning</i>
                        Nenhuma descrição relacionada.
                    </span>
                }
            </dd>
        </dl>
    </div>

    <div id="contatos" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informações sobre Contatos
        </p>

        @if (Model.Contatos.Any())
        {
            <label asp-for="@Model.Contatos" class="px-1">Contatos</label>
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Contatos.Single().Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Contatos.Single().Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Contatos.Single().Observacao)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Contatos)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Nome
                            </td>
                            <td>
                                @item.Observacao
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Contatos">Endereços</label>
                </dt>
                <dd>
                    <span class="font-italic text-warning">
                        <i class="material-icons left">warning</i>
                        Nenhum contato relacionado.
                    </span>
                </dd>
            </dl>
        }
    </div>

    <div id="enderecos" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informações sobre Endereços
        </p>

        @if (Model.Enderecos.Any())
        {
            <label asp-for="@Model.Enderecos" class="px-1">Endereços</label>
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Enderecos)
                    {
                        <tr>
                            <th>

                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Enderecos">Endereços</label>
                </dt>
                <dd>
                    <span class="font-italic text-warning">
                        <i class="material-icons left">warning</i>
                        Nenhum endereço relacionado.
                    </span>
                </dd>
            </dl>
        }
    </div>

    <div id="cheques" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informações sobre Cheques
        </p>

        <dl class="detail-list">
            <dt>
                <label asp-for="Cheques">Cheques</label>
            </dt>
            <dd>
                @if (Model.Cheques.Any())
                {
                    <a asp-action="Index" asp-route-clienteName="@Model.Nome" asp-controller="Cheques">@Model.Cheques.Count Cheques foram encontrados</a>
                }
                else
                {
                    <span class="font-italic text-warning">
                        <i class="material-icons left">warning</i>
                        Nenhum cheque relacionado.
                    </span>
                }
            </dd>
        </dl>
    </div>
</div>