@model RCM.Application.ViewModels.ValueObjectViewModels.ContatoViewModel

<p class="px-1 font-bold lead">
    Informação de Contato
</p>

<dl class="detail-list">
    <dt>
        <label asp-for="Celular"></label>
    </dt>
    <dd>
        @(Model.Celular ?? "N/A")
    </dd>
    <dt>
        <label asp-for="Email"></label>
    </dt>
    <dd>
        @(Model.Email ?? "N/A")
    </dd>
    <dt>
        <label asp-for="TelefoneResidencial"></label>
    </dt>
    <dd>
        @(Model.TelefoneResidencial ?? "N/A")
    </dd>
    <dt>
        <label asp-for="TelefoneComercial"></label>
    </dt>
    <dd>
        @(Model.TelefoneComercial ?? "N/A")
    </dd>
    <dt>
        <label asp-for="Observacao"></label>
    </dt>
    <dd>
        @(Model.Observacao ?? "Observação não registrada")
    </dd>
</dl>