@model RCM.Application.ViewModels.DuplicataViewModel

<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a href="#geral" class="active">Geral</a></li>
            <li class="tab col s3"><a href="#vencimento">Emissão/Vencimento</a></li>
            <li class="tab col s3"><a href="#notaFiscal">Nota Fiscal</a></li>
            <li class="tab col s3"><a href="#pagamento">Pagamento</a></li>
            <li class="tab col s3"><a href="#fornecedor">Fornecedor</a></li>
        </ul>
    </div>

    <div id="geral" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informação Geral
        </p>
        <div>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Id"></label>
                </dt>
                <dd>
                    @Model.Id
                </dd>
                <dt>
                    <label asp-for="@Model.NumeroDocumento"></label>
                </dt>
                <dd>
                    @Model.NumeroDocumento
                </dd>
                <dt>
                    <label asp-for="@Model.Valor"></label>
                </dt>
                <dd>
                    @Model.Valor.ToString("c")
                </dd>
            </dl>
        </div>
    </div>

    <div id="vencimento" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informações sobre Emissão e Vencimento
        </p>
        <dl class="detail-list">
            <dt>
                <label asp-for="@Model.DataEmissao"></label>
            </dt>
            <dd>
                @Model.DataEmissao.ToShortDateString() <span class="font-italic small text-muted">(@Model.DataEmissao.ToLongDateString())</span>
            </dd>
            <dt>
                <label asp-for="@Model.DataVencimento"></label>
            </dt>
            <dd>
                @Model.DataVencimento.ToShortDateString() <span class="font-italic small text-muted">(@Model.DataVencimento.ToLongDateString())</span>
            </dd>
        </dl>
    </div>

    <div id="notaFiscal" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Nota Fiscal
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.NotaFiscal"></label>
                </dt>
                <dd>
                    @if (Model.NotaFiscal != null)
                    {
                        <a asp-action="Details" asp-controller="NotasFiscais" asp-route-id="@Model.NotaFiscalId">
                            @Model.NotaFiscal.NumeroDocumento
                        </a>
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>
                            Nenhuma nota fiscal relacionada.
                        </span>
                    }
                </dd>
            </dl>
        </div>
    </div>

    <div id="pagamento" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Pagamento
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Pagamento.DataPagamento"></label>
                </dt>
                <dd>
                    @if (Model.Pagamento != null)
                    {
                        @Model.Pagamento.DataPagamento.ToShortDateString() <span class="font-italic small text-muted">(@Model.Pagamento.DataPagamento.ToLongDateString())</span>
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>Pagamento ainda não foi efetuado.
                        </span>
                    }
                </dd>
                @if (Model.Pagamento != null)
                {
                    <dt>
                        <label asp-for="@Model.Pagamento.ValorPago"></label>
                    </dt>
                    <dd>
                        @Model.Pagamento.ValorPago.ToString("c")
                    </dd>
                }
            </dl>

            <p class="px-1 pt-1">
                @if (Model.Pagamento == null)
                {
                    <a asp-action="Payment" asp-route-id="@Model.Id">
                        Pagar Duplicata
                    </a>
                }
                else
                {
                    <a class="modal-trigger" href="#estorno-modal" id="estornarPagamento">
                        Estornar Pagamento
                    </a>
                }
            </p>
        </div>
    </div>

    <div id="fornecedor" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Fornecedor
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Fornecedor"></label>
                </dt>
                <dd>
                    <a asp-action="Details" asp-controller="Fornecedores" asp-route-id="@Model.FornecedorId">
                        @Model.Fornecedor.Nome
                    </a>
                </dd>
            </dl>
        </div>
    </div>
</div>

<div id="estorno-modal" class="modal">
    <div class="modal-content">
        <h4>Confirmar Estorno</h4>
        <p>Tem certeza que deseja confirmar o estorno do pagamento?</p>
    </div>
    <div class="modal-footer mb-3">
        <a href="#!" class="modal-action modal-close btn-flat">Cancelar</a>
        <a asp-action="CancelPayment" asp-route-id="@Model.Id" class="btn-flat">Confirmar</a>
    </div>
</div>