@model RCM.Application.ViewModels.EmpresaViewModel

<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a href="#geral" class="active">Geral</a></li>
            <li class="tab col s3"><a href="#contato">Contato</a></li>
            <li class="tab col s3"><a href="#endereco">Endereço</a></li>
        </ul>
    </div>

    <div id="geral" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informação Geral
        </p>
        <div>
            @{
                var img = Convert.ToBase64String(Model.Logo);
            }

            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Logo"></label>
                </dt>
                <dd>
                    @if (img != string.Empty)
                    {
                        <img src="data:image/png;base64, @img" height="250" class="materialboxed mb-1" />
                        <a asp-action="AttachLogo" class="pt-1">Modificar logomarca</a>
                    }
                    else
                    {
                        <span>Logomarca não adicionada.</span>
                        <a asp-action="AttachLogo">Clique aqui para adicionar</a>
                    }
                </dd>
                <dt>
                    <label asp-for="@Model.Id"></label>
                </dt>
                <dd>
                    @Model.Id
                </dd>
                <dt>
                    <label asp-for="@Model.RazaoSocial"></label>
                </dt>
                <dd>
                    @Model.RazaoSocial
                </dd>
                <dt>
                    <label asp-for="@Model.NomeFantasia"></label>
                </dt>
                <dd>
                    @Model.NomeFantasia
                </dd>
                <dt>
                    <label asp-for="@Model.DocumentoCadastroNacional"></label>
                </dt>
                <dd>
                    @Model.DocumentoCadastroNacional
                </dd>
                <dt>
                    <label asp-for="@Model.DocumentoCadastroEstadual"></label>
                </dt>
                <dd>
                    @Model.DocumentoCadastroEstadual
                </dd>

                <dt>
                    <label asp-for="@Model.Descricao"></label>
                </dt>
                <dd>
                    @Model.Descricao
                </dd>
            </dl>
        </div>
    </div>

    <div id="contato" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informação de Contato
        </p>

        <dl class="detail-list">
            <dt>
                <label asp-for="ContatoCelular"></label>
            </dt>
            <dd>
                @if (Model.ContatoCelular != null)
                {
                    @Model.ContatoCelular
                }
                else
                {
                    <span class="font-italic text-warning"><i class="material-icons left">warning</i>Celular Alternativo não registrado.</span>
                }
            <dt>
                <label asp-for="ContatoEmail"></label>
            </dt>
            <dd>
                @Model.ContatoEmail
            </dd>
            <dt>
                <label asp-for="ContatoTelefoneResidencial"></label>
            </dt>
            <dd>
                @if (Model.ContatoTelefoneResidencial != null)
                {
                    @Model.ContatoTelefoneResidencial
                }
                else
                {
                    <span class="font-italic text-warning"><i class="material-icons left">warning</i>Telefone Alternativo não registrado.</span>
                }
            </dd>
            <dt>
                <label asp-for="ContatoTelefoneComercial"></label>
            </dt>
            <dd>
                @Model.ContatoTelefoneComercial
            </dd>
            <dt>
                <label asp-for="ContatoObservacao"></label>
            </dt>
            <dd>
                @if (Model.ContatoObservacao != null)
                {
                    @Model.ContatoObservacao
                }
                else
                {
                    <span class="font-italic text-warning"><i class="material-icons left">warning</i>Observação não registrada.</span>
                }
            </dd>
        </dl>
    </div>

    <div id="endereco" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informação de Endereço
        </p>

        <dl class="detail-list">
            <dt>
                <label asp-for="EnderecoRua"></label>
            </dt>
            <dd>
                @Model.EnderecoRua
            </dd>
            <dt>
                <label asp-for="EnderecoNumero"></label>
            </dt>
            <dd>
                @Model.EnderecoNumero
            </dd>
            <dt>
                <label asp-for="EnderecoBairro"></label>
            </dt>
            <dd>
                @Model.EnderecoBairro
            </dd>
            <dt>
                <label asp-for="@Model.EnderecoComplemento"></label>
            </dt>
            <dd>
                @if (Model.EnderecoComplemento != null)
                {
                    @Model.EnderecoComplemento
                }
                else
                {
                    <span class="font-italic text-warning"><i class="material-icons left">warning</i>Complemento não registrado.</span>
                }
            </dd>
            <dt>
                <label asp-for="EnderecoCEP"></label>
            </dt>
            <dd>
                @Model.EnderecoCEP
            </dd>
            <dt>
                <label asp-for="@Model.EnderecoCidade"></label>
            </dt>
            <dd>
                @Model.EnderecoCidade.Nome
            </dd>
        </dl>
    </div>
</div>