@model RCM.Application.ViewModels.ProdutoViewModel

<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a href="#geral" class="active">Geral</a></li>
            <li class="tab col s3"><a href="#estoque">Estoque</a></li>
            <li class="tab col s3"><a href="#preco">Preço</a></li>
            <li class="tab col s3"><a href="#marca">Marca</a></li>
            <li class="tab col s3"><a href="#aplicacao">Aplicações</a></li>
            <li class="tab col s3"><a href="#fornecedor">Fornecedor</a></li>
            <li class="tab col s3"><a href="#funcoes">Funções</a></li>
        </ul>
    </div>

    <div id="geral" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informação Geral
        </p>
        <div>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Id"></label>
                </dt>
                <dd>
                    @Model.Id
                </dd>
                <dt>
                    <label asp-for="@Model.Nome"></label>
                </dt>
                <dd>
                    @Model.Nome
                </dd>
                <dt>
                    <label asp-for="@Model.Unidade"></label>
                </dt>
                <dd>
                    @Model.Unidade
                </dd>
                <dt>
                    <label asp-for="@Model.ReferenciaFabricante"></label>
                </dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.ReferenciaFabricante))
                    {

                        @Model.ReferenciaFabricante
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>
                            Referência do fabricante não foi informada.
                        </span>
                    }
                </dd>
                <dt>
                    <label asp-for="@Model.ReferenciaOriginal"></label>
                </dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.ReferenciaOriginal))
                    {

                        @Model.ReferenciaOriginal
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>
                            Referência original não foi informada.
                        </span>
                    }
                </dd>
                <dt>
                    <label asp-for="@Model.ReferenciaAuxiliar"></label>
                </dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.ReferenciaAuxiliar))
                    {

                        @Model.ReferenciaAuxiliar
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>
                            Referência auxiliar não foi informada.
                        </span>
                    }
                </dd>
            </dl>
        </div>
    </div>

    <div id="estoque" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informações sobre estoque
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Estoque"></label>
                </dt>
                <dd>
                    @if (Model.Estoque > 0)
                    {
                        @Model.Estoque
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>
                            Estoque zerado.
                        </span>
                    }
                </dd>
                <dt>
                    <label asp-for="@Model.EstoqueIdeal"></label>
                </dt>
                <dd>
                    @Model.EstoqueIdeal
                </dd>

                <dt>
                    <label asp-for="@Model.EstoqueMinimo"></label>
                </dt>
                <dd>
                    @Model.EstoqueMinimo
                </dd>
            </dl>
        </div>
    </div>

    <div id="preco" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informações sobre Preços
        </p>
        <dl class="detail-list">
            <dt>
                <label asp-for="@Model.PrecoVenda"></label>
            </dt>
            <dd>
                @Model.PrecoVenda.ToString("c")
            </dd>
        </dl>
    </div>

    <div id="marca" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Marca
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Marca"></label>
                </dt>
                <dd>
                    <a asp-route-id="@Model.MarcaId" asp-controller="Marcas">@Model.Marca.Nome</a>
                </dd>
            </dl>
        </div>
    </div>

    <div id="aplicacao" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Aplicação
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Aplicacoes"></label>
                </dt>
                <dd>
                    @if (Model.Aplicacoes.Any())
                    {
                        <ul class="collapsible z-depth-0" data-collapsible="accordion">
                            @foreach (var aplicacao in Model.Aplicacoes)
                            {
                                <li>
                                    @{ var title = $"{aplicacao.Marca} {aplicacao.Modelo} - {aplicacao.Motor ?? "Sem informação de motor"}"; }
                                    <div class="collapsible-header">
                                        <div class="col s11">
                                            @title
                                        </div>
                                        <div class="col s1">
                                            <a asp-action="RemoveApplication" asp-controller="Produtos" asp-route-aplicacaoId="@aplicacao.Id" asp-route-id="@Model.Id">
                                                Remover
                                            </a>
                                        </div>
                                    </div>
                                    <div class="collapsible-body">
                                        <p>@(aplicacao?.Observacao ?? "Nenhuma observação relacionada.")</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>Nenhuma aplicação encontrada para este produto.
                        </span>
                    }
                </dd>
            </dl>
        </div>
    </div>

    <div id="fornecedor" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Fornecedor
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.ProdutoFornecedores"></label>
                </dt>
                <dd>
                    @if (Model.ProdutoFornecedores.Any())
                    {
                        <ul class="collapsible z-depth-0" data-collapsible="accordion">

                            @foreach (var fornecedor in Model.ProdutoFornecedores)
                            {
                                <li>
                                    <div class="collapsible-header">
                                        <div class="col s11">
                                            <a asp-action="Details" asp-controller="Fornecedores" asp-route-id="@fornecedor.FornecedorId">@fornecedor.Fornecedor.Nome</a>
                                        </div>
                                        <div class="col s1">
                                            <a asp-action="UnattachSupplier" asp-controller="Produtos" asp-route-fornecedorId="@fornecedor.FornecedorId" asp-route-id="@Model.Id">
                                                Remover
                                            </a>
                                        </div>
                                    </div>
                                    <div class="collapsible-body">
                                        <span>
                                            @("Preço de custo: " + fornecedor.PrecoCusto.ToString("c"))
                                        </span><br />
                                        <span>
                                            @("Disponibilidade: " + fornecedor.Disponibilidade)
                                        </span>
                                        <p>@(fornecedor.Fornecedor?.Observacao ?? "Nenhuma observação relacionada.")</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i> Nenhum fornecedor encontrado para este produto.
                        </span>
                    }
                </dd>
            </dl>
        </div>
    </div>

    <div id="funcoes" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Funções
            </p>
            <dl class="detail-list">
                <dt>
                    <label>Funções básicas</label>
                </dt>
                <dd>
                    <a asp-action="Details" asp-controller="Produtos">Repor estoque</a>
                </dd>
                <dd>
                    <a asp-action="AttachApplication" asp-controller="Produtos" asp-route-id="@Model.Id">Adicionar Aplicação</a>
                </dd>
                <dd>
                    <a asp-action="AttachSupplier" asp-controller="Produtos" asp-route-id="@Model.Id">Relacionar Fornecedor</a>
                </dd>
            </dl>
        </div>
    </div>
</div>