@using RCM.Domain.Models.VendaModels

@model RCM.Application.ViewModels.VendaViewModels.VendaViewModel

<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a href="#geral" class="active">Geral</a></li>
            <li class="tab col s3"><a href="#itens">Itens</a></li>
            <li class="tab col s3"><a href="#pagamento">Condições de Pagamento</a></li>
            <li class="tab col s3"><a href="#evento">Eventos</a></li>
        </ul>
    </div>

    <div id="geral" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informação geral
        </p>

        <dl class="detail-list">
            <dt>
                <label asp-for="Id"></label>
            </dt>
            <dd>
                @Model.Id
            </dd>
            <dt>
                <label asp-for="Status"></label>
            </dt>
            <dd>
                @Model.Status
            </dd>
            <dt>
                <label asp-for="DataVenda"></label>
            </dt>
            <dd>
                @Model.DataVenda.ToShortDateString() <span class="font-italic small text-muted">(@Model.DataVenda.ToLongDateString())</span>
            </dd>
            <dt>
                <label asp-for="Cliente"></label>
            </dt>
            <dd>
                <a asp-action="Details" asp-controller="Clientes" asp-route-id="@Model.ClienteId">
                    @Model.Cliente.Nome
                </a>
            </dd>
            <dt>
                <label asp-for="Detalhes"></label>
            </dt>
            <dd>
                @(!string.IsNullOrWhiteSpace(Model.Detalhes) ? Model.Detalhes : "Nenhum detalhe relacionado.")
            </dd>
        </dl>
    </div>
    <div id="itens" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Itens
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Produtos"></label>
                </dt>
                <dd>
                    @if (Model.Produtos.Any())
                    {
                        <ul class="collapsible z-depth-0" data-collapsible="expandable">
                            @foreach (var produto in Model.Produtos)
                            {
                                <li>
                                    <div class="valign-wrapper collapsible-header collapsible-compact-header">
                                        <div class="col s3">
                                            <a asp-action="Details" asp-route-id="@produto.ProdutoId" asp-controller="Produtos">@produto.Produto.Nome</a>
                                        </div>
                                        <div class="col s2">
                                            <p>Preço de Venda: @produto.PrecoVenda.ToString("c")</p>
                                        </div>
                                        <div class="col s1">
                                            <p>Quantidade: @produto.Quantidade</p>
                                        </div>
                                        <div class="col s1">
                                            <p>Desconto: @produto.Desconto.ToString("c")</p>
                                        </div>
                                        <div class="col s1">
                                            <p>Acréscimo: @produto.Acrescimo.ToString("c")</p>
                                        </div>
                                        <div class="col s2">
                                            <p>Preço de Final: @produto.PrecoFinal.ToString("c")</p>
                                        </div>
                                        <div class="col s1">
                                            @if (Model.Status == VendaStatusEnum.Aberta)
                                            {
                                                <a asp-action="RemoveProduto" asp-controller="Vendas" asp-route-produtoId="@produto.ProdutoId" asp-route-vendaId="@Model.Id">
                                                    Remover
                                                </a>
                                            }
                                        </div>
                                    </div>
                                    <div class="collapsible-body">
                                        <strong>Id: </strong><span>@produto.ProdutoId</span><br />
                                        <strong>Estoque atual: </strong><span>@produto.Produto.Estoque</span><br />
                                        <strong>Referência do Fabricante: </strong><span>@(produto.Produto.ReferenciaFabricante ?? "Referência Auxiliar não encontrada.")</span><br />
                                        <strong>Referência Original: </strong><span>@(produto.Produto.ReferenciaOriginal ?? "Referência original não encontrada.")</span><br />
                                        <strong>Referência Auxiliar: </strong><span>@produto.Produto.ReferenciaAuxiliar</span><br />
                                        <strong>Marca: </strong><span>@produto.Produto.Marca.Nome</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>
                            Essa venda ainda não tem nenhum produto adicionado.
                        </span>
                    }
                </dd>
            </dl>

            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Servicos"></label>
                </dt>
                <dd>
                    @if (Model.Servicos.Any())
                    {
                        <ul class="collection z-depth-0">
                            @foreach (var servico in Model.Servicos)
                            {
                                <li class="collection-item">
                                    <div class="valign-wrapper">
                                        <div class="col s3">
                                            <p>@servico.Detalhes</p>
                                        </div>
                                        <div class="col s8">
                                            <p>Valor do Serviço: @servico.PrecoServico.ToString("c")</p>
                                        </div>
                                        <div class="col s1">
                                            @if (Model.Status == VendaStatusEnum.Aberta)
                                            {
                                                <a asp-action="RemoveServico" asp-controller="Vendas" asp-route-servicoId="@servico.Id" asp-route-vendaId="@Model.Id">
                                                    Remover
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>
                            Essa venda ainda não tem nenhum serviço adicionado.
                        </span>
                    }
                </dd>
            </dl>

            @if (Model.Status == VendaStatusEnum.Aberta)
            {
                <div class="right-align">
                    <a asp-action="AttachProduto" asp-route-vendaid="@Model.Id">Adicionar Produto</a>
                    <br />
                    <a asp-action="AttachServico" asp-route-vendaid="@Model.Id">Adicionar Serviço</a>
                </div>
            }
        </div>

        @if (Model.QuantidadeItens > 0 && Model.TotalVenda > 0)
        {
            <div class="mt-4 px-2 row mb-2">
                <div class="col s12">
                    <span class="text-muted">Quantidade de Itens: </span>
                    @Model.QuantidadeItens
                </div>
                <div class="col s12">
                    <span class="text-muted">Valor total da Venda: </span>
                    @Model.TotalVenda.ToString("c")
                </div>

                <div class="col s12 mt-1">
                    @if (Model.Status == VendaStatusEnum.Aberta)
                    {
                        <a asp-action="Checkout" asp-route-id="@Model.Id" class="lead-2">
                            <i class="material-icons left">done</i>Finalizar venda
                        </a>
                    }
                    else
                    {
                        <span class="lead-2 text-success">Essa venda já foi finalizada.</span>
                        <br />
                        <a asp-action="PrintDAV" asp-route-id="@Model.Id" target="_blank">
                            Imprimir Documento Auxiliar de Venda
                        </a>
                    }
                </div>
            </div>
        }
    </div>
    <div id="pagamento" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Pagamento
            </p>
            <div>
                @if (Model.Status == VendaStatusEnum.Fechada)
                {
                    if (Model.CondicaoPagamento.TipoVenda == TipoVenda.AVista)
                    {
                        <dl class="detail-list">
                            <dt>
                                <label asp-for="@Model.CondicaoPagamento.TipoVenda"></label>
                            </dt>
                            <dd>
                                @("Pagamento à Vista")
                            </dd>
                            <dt>
                                <label>Descrição dos Valores</label>
                            </dt>
                            <dd>
                                <span class="font-bold lead text-success">Todos os valores dessa venda já foram quitados.</span>
                            </dd>
                        </dl>
                    }

                    if (Model.CondicaoPagamento.TipoVenda == TipoVenda.APrazo)
                    {
                        <dl class="detail-list">
                            <dt>
                                <label asp-for="@Model.CondicaoPagamento.TipoVenda"></label>
                            </dt>
                            <dd>
                                @("Pagamento a Prazo")
                            </dd>
                            <dt>
                                <label>Descrição dos Valores</label>
                            </dt>
                            <dd>
                                @if (Model.CondicaoPagamento.ValorEntrada > 0)
                                {
                                    <p class="small my-0">
                                        A entrada foi de @Model.CondicaoPagamento.ValorEntrada.ToString("c")
                                    </p>
                                }
                                else
                                {
                                    <p class="small my-0">
                                        Sem entrada
                                    </p>
                                }

                                <p class="small mt-0">
                                    O valor total da venda foi de @Model.TotalVenda.ToString("c")
                                </p>

                                <div>
                                    @if (Model.CondicaoPagamento.ValorRestante > 0)
                                    {
                                        <p class="small">
                                            O valor total pago até agora foi de @Model.CondicaoPagamento.ValorPago.ToString("c")
                                        </p>
                                        <p class="font-bold lead text-danger">O valor restante é de @Model.CondicaoPagamento.ValorRestante.ToString("c")</p>
                                    }
                                    else
                                    {
                                        <p class="font-bold lead text-success">Todos os valores dessa venda já foram quitados.</p>
                                    }
                                </div>
                            </dd>

                            @if (Model.CondicaoPagamento.Parcelas.Any())
                            {
                                <dt>
                                    <label asp-for="@Model.CondicaoPagamento"></label>
                                </dt>
                                <dd>
                                    <ul class="collection" id="list-parcelas">
                                        @foreach (var parcela in Model.CondicaoPagamento.Parcelas)
                                        {
                                            <li class="collection-item @(parcela.Vencida ? "bg-danger" : "") @(parcela.Paga ? "bg-success" : "")">
                                                <div>
                                                    Parcela @parcela.Numero - @parcela.DataVencimento.ToShortDateString()
                                                    <span class="secondary-content">
                                                        @parcela.Valor.ToString("c")
                                                    </span>
                                                    <br />

                                                    @if (parcela.Paga)
                                                    {
                                                        <b class="text-black">
                                                            Parcela paga - @(((DateTime)parcela.DataPagamento).ToShortDateString())
                                                        </b>
                                                    }
                                                    else
                                                    {
                                                        <a asp-action="PayInstallment" asp-route-vendaid="@Model.Id" asp-route-parcelaid="@parcela.Numero">Clique aqui para baixar a parcela</a>
                                                    }
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </dd>
                            }
                        </dl>
                    }
                }

                @if (Model.Status == VendaStatusEnum.Aberta)
                {
                    <p class="text-danger">
                        <i class="material-icons left">warning</i>
                        Essa venda ainda não foi finalizada.
                    </p>
                }
            </div>
        </div>
    </div>

    <div id="evento" class="col s12 m12">
        @await Component.InvokeAsync("EventsPanel", Model.Id)
    </div>
</div>