@using RCM.Domain.Models.VendaModels

@model RCM.Application.ViewModels.VendaViewModel

<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a href="#geral" class="active">Geral</a></li>
            <li class="tab col s3"><a href="#produtos">Produtos</a></li>
        </ul>
    </div>

    <div id="geral" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informação geral
        </p>

        <dl class="detail-list">
            <dt>
                <label asp-for="Id"></label>
            </dt>
            <dd>
                @Model.Id
            </dd>
            <dt>
                <label asp-for="Status"></label>
            </dt>
            <dd>
                @Model.Status
            </dd>
            <dt>
                <label asp-for="Detalhes"></label>
            </dt>
            <dd>
                @(!string.IsNullOrWhiteSpace(Model.Detalhes) ? Model.Detalhes : "Nenhum detalhe relacionado.")
            </dd>
            <dt>
                <label asp-for="Cliente"></label>
            </dt>
            <dd>
                @Model.Cliente.Nome
            </dd>
        </dl>
    </div>
    <div id="produtos" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Produtos
            </p>
            <dl class="detail-list">
                <dt>
                    <label asp-for="@Model.Produtos"></label>
                </dt>
                <dd>
                    @if (Model.Produtos.Any())
                    {
                        <ul class="collapsible z-depth-0" data-collapsible="expandable">
                            @foreach (var produto in Model.Produtos)
                            {
                                <li>
                                    <div class="valign-wrapper collapsible-header collapsible-compact-header">
                                        <div class="col s3">
                                            <a asp-action="Details" asp-route-id="@produto.ProdutoId" asp-controller="Produtos">@produto.Produto.Nome</a>
                                        </div>
                                        <div class="col s2">
                                            <p>Preço de Venda: @produto.PrecoVenda.ToString("c")</p>
                                        </div>
                                        <div class="col s1">
                                            <p>Quantidade: @produto.Quantidade</p>
                                        </div>
                                        <div class="col s1">
                                            <p>Desconto: @produto.Desconto.ToString("c")</p>
                                        </div>
                                        <div class="col s1">
                                            <p>Acréscimo: @produto.Acrescimo.ToString("c")</p>
                                        </div>
                                        <div class="col s2">
                                            <p>Preço de Final: @produto.PrecoFinal.ToString("c")</p>
                                        </div>
                                        <div class="col s1">
                                            @if (Model.Status == VendaStatusEnum.Aberta)
                                            {
                                                <a asp-action="RemoveProduto" asp-controller="Vendas" asp-route-produtoId="@produto.ProdutoId" asp-route-vendaId="@Model.Id">
                                                    Remover
                                                </a>
                                            }
                                        </div>
                                    </div>
                                    <div class="collapsible-body">
                                        <strong>Id: </strong><span>@produto.ProdutoId</span><br />
                                        <strong>Estoque atual: </strong><span>@produto.Produto.Estoque</span><br />
                                        <strong>Referência do Fabricante: </strong><span>@(produto.Produto.ReferenciaAuxiliar ?? "Referência Auxiliar não encontrada.")</span><br />
                                        <strong>Referência Original: </strong><span>@(produto.Produto.ReferenciaOriginal ?? "Referência original não encontrada.")</span><br />
                                        <strong>Referência Auxiliar: </strong><span>@produto.Produto.ReferenciaFabricante</span><br />
                                        <strong>Marca: </strong><span>@produto.Produto.Marca.Nome</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="font-italic text-warning">
                            <i class="material-icons left">warning</i>
                            Essa venda ainda não tem nenhum produto adicionado.
                        </span>
                    }
                </dd>
            </dl>
            @if (Model.Status == VendaStatusEnum.Aberta)
            {
                <div class="right-align">
                    <a asp-action="AttachProduto" asp-route-id="@Model.Id">Adicionar Produto</a>
                </div>
            }
        </div>

        @if (Model.QuantidadeProdutos > 0 && Model.TotalVenda > 0)
        {
            <div class="mt-3 px-2 row mb-2">
                <div class="col s12">
                    <span class="text-muted">Quantidade de produtos: </span>
                    @Model.QuantidadeProdutos
                </div>
                <div class="col s12">
                    <span class="text-muted">Valor total da Venda: </span>
                    @Model.TotalVenda.ToString("c")
                </div>

                <div class="col s12 mt-1">
                    @if (Model.Status == VendaStatusEnum.Aberta)
                    {
                        <a asp-action="Checkout" asp-route-id="@Model.Id" class="lead-2">
                            <i class="material-icons left">done</i>Finalizar venda
                        </a>
                    }
                    else
                    {
                        <span class="lead-2 text-success">Essa venda já foi finalizada.</span>
                        <br />
                        <a asp-action="PrintDAV" asp-route-id="@Model.Id" target="_blank">
                            Imprimir Documento Auxiliar de Venda    
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>