@using RCM.Domain.Models.VendaModels;

@{
    Layout = "_Report";
}

@model RCM.Presentation.Web.ViewModels.DAVViewModel

@{
    ViewData["Title"] = "Documento Auxiliar de Venda";
}

<div class="row bg-purple mb-0">
    <div class="col s12">
        <p class="font-bold center py-0 white-text lead" id="dav-header">
            Documento Auxiliar de Venda
        </p>
    </div>
</div>
<div class="row" id="report-header">
    <div class="col s3 center">
        @{
            var img = Convert.ToBase64String(Model.Empresa.Logo);
        }

        @if (img != string.Empty)
        {
            <img src="data:image/png;base64, @img" height="105" ; width="175" style="padding: 5px; margin-top: 5px" />
        }
        else
        {
            <p class="bg-danger">Logomarca não adicionada.</p>
        }
    </div>
    <div class="col s4 my-1">
        <span>
            @Model.Empresa.NomeFantasia
        </span>
        <br />
        <span>
            @Model.Empresa.DocumentoCadastroNacional
        </span>
        <br />
        <span>
            @($"{Model.Empresa.EnderecoRua}, {Model.Empresa.EnderecoNumero}, {Model.Empresa.EnderecoBairro}")
        </span>
        <br />
        <span>
            @($"{Model.Empresa.ContatoTelefoneComercial}")
        </span>
    </div>
    <div class="col s4 my-1 offset-s1">
        <p class="right-align my-0">
            @Model.Venda.Id
        </p>
        <p class="right-align my-0">
            @Model.Venda.DataVenda.ToLongDateString()
        </p>
    </div>
</div>
<div class="row" id="report-customer">
    <div class="col s12 no-padding">
        <table>
            <tr>
                <td colspan="2">
                    <label>
                        Nome
                    </label>
                    <p>
                        @Model.Cliente.Nome
                    </p>
                </td>
                <td colspan="2">
                    <label>
                        CPF/CNPJ
                    </label>
                    <p>
                        @(Model.Cliente?.DocumentoCadastroNacional ?? "Não informado")
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Endereço
                    </label>
                    <p>
                        @((Model.Cliente.EnderecoRua ?? Model.Cliente.EnderecoNumero.ToString() ?? Model.Cliente.EnderecoBairro) ?? "Não informado")
                    </p>
                </td>
                <td>
                    <label>
                        Cidade
                    </label>
                    <p>
                        @($"{Model.Cliente.EnderecoCidade?.Nome ?? "Não informada"}")
                    </p>
                </td>
                <td>
                    <label>
                        CEP
                    </label>
                    <p>
                        @($"{Model.Cliente.EnderecoCEP ?? "Não informado"}")
                    </p>
                </td>
                <td>
                    <label>
                        Estado
                    </label>
                    <p>
                        @($"{Model.Cliente.EnderecoCidade?.Estado?.Nome ?? "Não informado"}")
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Celular
                    </label>
                    <p>
                        @($"{Model.Cliente.ContatoCelular ?? "Não informado"}")
                    </p>
                </td>
                <td>
                    <label>
                        Telefone Residencial
                    </label>
                    <p>
                        @($"{Model.Cliente.ContatoTelefoneResidencial ?? "Não informado"}")
                    </p>
                </td>
                <td colspan="2">
                    <label>
                        Email
                    </label>
                    <p>
                        @($"{Model.Cliente.ContatoEmail ?? "Não informado"}")
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row" id="report-payment">
    <div class="col s12 no-padding">
        <table>
            <tr>
                <td colspan="2">
                    <label>
                        Condição de Pagamento
                    </label>
                    <p>
                        @if (Model.Venda.CondicaoPagamento.TipoVenda == TipoVenda.AVista)
                        {
                            @("Venda à Vista");
                        }
                        else
                        {
                            @("Venda a Prazo");
                        }
                    </p>
                </td>
                <td colspan="2">
                    <label>
                        Valores de Entrada
                    </label>
                    <p>
                        @Model.Venda.CondicaoPagamento.ValorEntrada.ToString("c")
                    </p>
                </td>
            </tr>
            @if (Model.Venda.CondicaoPagamento.Parcelas.Any())
            {
                <tr>
                    <td colspan="3">
                        <label>
                            Quantidade de Parcelas
                        </label>
                        <p>
                            @Model.Venda.CondicaoPagamento.QuantidadeParcelas
                        </p>
                    </td>
                </tr>

                @foreach (var parcela in Model.Venda.CondicaoPagamento.Parcelas)
                {
                    <tr>
                        <td>
                            <label>
                                Número da Parcela
                            </label>
                            <p>
                                @parcela.Numero
                            </p>
                        </td>
                        <td>
                            <label>
                                Vencimento da Parcela
                            </label>
                            <p>
                                @parcela.DataVencimento.ToShortDateString()
                            </p>
                        </td>

                        <td>
                            <label>
                                Valor da Parcela
                            </label>
                            <p>
                                @parcela.Valor.ToString("c")
                            </p>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<div class="row" id="report-body">
    <div class="col s12 mt-2 no-padding">
        <table id="report-table">
            <thead>
                <tr>
                    <th class="px-1">
                        @Html.DisplayNameFor(model => model.Venda.Produtos.FirstOrDefault().Produto.Nome)
                    </th>
                    <th class="center">
                        @Html.DisplayNameFor(model => model.Venda.Produtos.FirstOrDefault().PrecoVenda)
                    </th>
                    <th class="center">
                        @Html.DisplayNameFor(model => model.Venda.Produtos.FirstOrDefault().Quantidade)
                    </th>
                    <th class="center">
                        @Html.DisplayNameFor(model => model.Venda.Produtos.FirstOrDefault().Desconto)
                    </th>
                    <th class="center">
                        @Html.DisplayNameFor(model => model.Venda.Produtos.FirstOrDefault().Acrescimo)
                    </th>
                    <th class="center">
                        @Html.DisplayNameFor(model => model.Venda.Produtos.FirstOrDefault().PrecoFinal)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Venda.Produtos)
                {
                    <tr>
                        <td>
                            <bold>
                                @Html.DisplayFor(modelItem => item.Produto.Nome)
                            </bold>
                            <br />
                            <span class="small text-muted">
                                Referência: @Html.DisplayFor(modelItem => item.Produto.ReferenciaFabricante)
                            </span>
                            <br />
                            <span class="small text-muted">
                                Marca: @Html.DisplayFor(modelItem => item.Produto.Marca.Nome)
                            </span>
                            <br />
                            <span class="small text-muted">
                                @Html.DisplayFor(modelItem => item.Produto.Id)
                            </span>
                        </td>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.PrecoVenda)
                        </td>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>
                        <td class="center">
                            @if (item.Desconto == 0)
                            {
                                <span class="font-italic">Nenhum</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Desconto)
                            }
                        </td>
                        <td class="center">
                            @if (item.Acrescimo == 0)
                            {
                                <span class="font-italic">Nenhum</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Acrescimo)
                            }
                        </td>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.PrecoFinal)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <table id="services-table">
            <thead>
                <tr>
                    <th colspan="2">
                        Serviços
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Venda.Servicos)
                {
                    <tr>
                        <td>
                            <bold>
                                @Html.DisplayFor(modelItem => item.Detalhes)
                            </bold>
                            <br />
                            <span class="small text-muted">
                                Id: @Html.DisplayFor(modelItem => item.Id)
                            </span>
                        </td>
                        <td class="right mx-2 mt-1">
                            @Html.DisplayFor(modelItem => item.PrecoServico)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col s4 offset-s8">
            <p class="right mb-0 lead">Quantidade de Itens: @Model.Venda.QuantidadeItens</p>
            <p class="right mt-0 lead">Valor Total da Venda: @Model.Venda.TotalVenda.ToString("c")</p>
        </div>
    </div>
</div>

<div class="row mt-5" id="report-footer">
    <hr class="w-75" />
    <p class="center small">Assinatura do Cliente</p>
</div>
<div>
    <div class="col s6">
        <p class="center text-muted">
            Token de validação: @Guid.NewGuid().ToString().Replace("-", "")
        </p>
        <p class="center font-italic text-muted">
            Não é válido como documento fiscal. É vedada a autenticação desse documento.
        </p>
    </div>
</div>

<script>
    window.print();
</script>
