@model RCM.CrossCutting.Identity.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <div class="px-1">
        <h5 class="font-bold">
            Login
        </h5>
        <p class="mt-0">
            Entre com suas credenciais para obter acesso à plataforma
        </p>
    </div>
    <div class="row">
        <div class="col s12 m8">
            <form asp-action="Login">
                <div class="row">
                    <div class="input-field col s12 m8">
                        <label asp-for="@Model.Email"></label>
                        <input asp-for="@Model.Email" class="input-field" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" name="returnUrl" value="@TempData["returnUrl"]" />
                    <div class="input-field col s12 m8">
                        <label asp-for="@Model.Password"></label>
                        <input asp-for="@Model.Password" class="input-field" type="password" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span> <br />
                        <a asp-action="RecoverPassword" class="font-italic small">Esqueci minha senha</a>
                    </div>
                </div>
                <div class="row">
                    <div class="px-1">
                        <input type="checkbox" asp-for="@Model.PersistentLogin" />
                        <label asp-for="@Model.PersistentLogin"></label>
                    </div>
                </div>

                <div class="px-1 pt-2 col s12 m12">
                    <post-button icon-name="launch" button-classes="btn purple col s12 m6 l4">Efetuar Login</post-button>
                </div>
            </form>
        </div>
        <div class="col s12 m4" id="external-login">
            <p class="lead center mb-0">
                Ou faça login usando um provedor externo
            </p>
            <div class="row px-1">
                <a asp-action="ExternalLogin" asp-route-provider="Google" asp-route-returnUrl="@TempData["returnUrl"]" id="google-plus-button" class="btn col s12 m12">
                    Google+
                </a>
            </div>
        </div>
    </div>
</div>

<div class="back-button">
    <a asp-action="Index" asp-controller="Home">Voltar para a Página Inicial</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}