@model RCM.Presentation.Web.ViewModels.MarcaIndexViewModel

@{
    ViewData["Title"] = "Marcas - Índice";
}

<float-action-button controller="Marcas"></float-action-button>

<div class="form-container col s12 m12">
    <form>
        <div class="col s12 m12">
            <div class="row my-0 py-0">
                <div class="input-field col s5 m5">
                    <label for="nome">Nome da Marca</label>
                    <input name="nome" type="text" id="nome" />
                </div>
                <div class="input-field col s4 m3">
                    <select>
                        <option value="vendaId">Nome da Marca</option>
                    </select>
                </div>
                <div class="col s4 m4 pt-2 px-0 mx-0 max-percent-width">
                    <a class="btn waves-effect purple left no-border col s1 m2" id="advancedSearchToggler">
                        <i class="material-icons center">keyboard_arrow_down</i>
                    </a><button type="submit" class="btn waves-effect purple no-border col s11 m10">
                        <i class="material-icons right">search</i>
                        Pesquisar
                    </button>
                </div>
            </div>
        </div>

        <div id="advancedSearch" class="col s12 m12">
            <div class="row">
                <div class="col s6 m6">
                    <p class="text-muted pt-0 mt-0 small">
                        Sem opções de busca avançada
                    </p>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Marcas.List.Any())
    {
        <div class="mx-2">
            <table class="highlight">
                <thead>
                    <tr>
                        <th class="w-25">
                            @Html.DisplayNameFor(model => model.Marcas.List.FirstOrDefault().Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Marcas.List.FirstOrDefault().Observacao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Marcas.List.FirstOrDefault().QuantidadeProdutos)
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    @foreach (var item in Model.Marcas.List)
                    {
                    <tr>
                        <td class="d-hidden">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="w-25">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantidadeProdutos)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col s12 m12">
            @{
                var queryStringHelper = new Dictionary<string, string>
                    {
                        { "nome", Model.Nome },
                    };

                var listHelper = new Dictionary<string, string>().LoadPagination(Model.Marcas);
            }

            @Html.Partial("_Pagination", new ViewDataDictionary(this.ViewData)
        {
            { "listHelper", listHelper },
            { "queryStringHelper", queryStringHelper }
        })
        </div>
    }
    else
    {
        <p class="px-1 col s12 m12">
            <i class="material-icons left">warning</i>
            Nenhuma marca encontrada.
        </p>
    }
</div>