@model RCM.Application.ViewModels.ChequeViewModels.ChequeViewModel

@{
    ViewData["Title"] = $"Editar Cheque - {Model.NumeroCheque}";
}

<h5>Editar Cheque - @Model.NumeroCheque</h5>

<div class="form-container col s12 m12">
    <form asp-action="Edit">
        @Html.EditorForModel()

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Voltar para detalhes</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ajax-call.min.js"></script>

    <script>
        //Clientes
        var clienteUrl = '@Url.Action("GetClientes", "Cheques")';
        var clienteDropdown = $('#cliente-select');
        var clienteInput = $('#cliente-id');

        reloadSelect(clienteUrl, clienteDropdown, clienteInput);

        $('#reload-clientes-button').click(function () {
            reloadSelect(clienteUrl, clienteDropdown, clienteInput);
        });

        $(clienteDropdown).change(function () {
            var optionId = $('#cliente-select option:selected')[0].value;
            $(clienteInput).val(optionId);
        });


        //Bancos
        var bancoUrl = '@Url.Action("GetBancos", "Cheques")';
        var bancoDropdown = $('#banco-select');
        var bancoInput = $('#banco-id');

        reloadSelect(bancoUrl, bancoDropdown, bancoInput);

        $('#reload-bancos-button').click(function () {
            reloadSelect(bancoUrl, bancoDropdown, bancoInput);
        });

        $(bancoDropdown).change(function () {
            var optionId = $('#banco-select option:selected')[0].value;
            $(bancoInput).val(optionId);
        });
    </script>
}