@using RCM.Domain.Models.ChequeModels.ChequeStates;


@model RCM.Presentation.Web.ViewModels.ChequesIndexViewModel

@{
    ViewData["Title"] = "Cheques - Índice";
}

<float-action-button controller="Cheques"></float-action-button>

<div class="form-container col s12 m12">
    <form>
        <div class="col s12 m12">
            <div class="row my-0 py-0">
                <div class="input-field col s5 m5">
                    <label for="numeroDocumento">Número do Cheque</label>
                    <input asp-for="NumeroCheque" name="numeroCheque" type="text" id="numeroCheque" />
                </div>
                <div class="input-field col s4 m3">
                    <select>
                        <option value="numeroCheque">Número do Cheque</option>
                    </select>
                </div>
                <div class="col s4 m4 pt-2 px-0 mx-0 max-percent-width">
                    <a class="btn waves-effect purple left no-border col s1 m2" id="advancedSearchToggler">
                        <i class="material-icons center">keyboard_arrow_down</i>
                    </a><button type="submit" class="btn waves-effect purple no-border col s11 m10">
                        <i class="material-icons right">search</i>
                        Pesquisar
                    </button>
                </div>
            </div>
        </div>

        <div id="advancedSearch" class="col s12 m12">
            <div class="row">
                <div class="input-field col s12 m3">
                    <input asp-for="MinValor" name="minValor" type="text" class="input-field" id="minValor" />
                    <label for="minValor">Valor mínimo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="MaxValor" name="maxValor" type="text" class="input-field" id="maxValor" />
                    <label for="maxValor">Valor máximo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="DataEmissao" name="dataEmissao" type="text" class="datepicker" id="dataEmissao" />
                    <label for="dataEmissao">Data de Emissão</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="DataVencimento" name="dataVencimento" type="text" class="datepicker" id="dataVencimento" />
                    <label for="dataVencimento">Data de Vencimento</label>
                </div>
                <div class="input-field col s12 m6">
                    <select asp-for="ClienteId" name="clienteId" asp-items="@(new SelectList(Model.Clientes, "Id", "Nome"))" id="clienteId">
                        <option value="">Todos os Clientes</option>
                    </select>
                    <label for="dataVencimento">Escolher Cliente</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="Agencia" name="agencia" type="text" class="input-field" id="agencia" />
                    <label for="agencia">Número da Agência</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="Conta" name="conta" type="text" class="input-field" id="conta" />
                    <label for="conta">Número da Conta Corrente</label>
                </div>
                <div class="input-field col s12 m6">
                    <select asp-for="Situacao" asp-items="@(new SelectList(Enum.GetNames(typeof(EstadoChequeEnum)).ToList()))" name="situacao" class="input-field" id="situacao">
                        <option value="">Todas</option>
                    </select>
                    <label for="situacao">Situação do Cheque</label>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Cheques.List.Any())
    {
        <table class="highlight centered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cheques.List.FirstOrDefault().Banco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cheques.List.FirstOrDefault().Conta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cheques.List.FirstOrDefault().NumeroCheque)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cheques.List.FirstOrDefault().Cliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cheques.List.FirstOrDefault().DataEmissao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cheques.List.FirstOrDefault().DataVencimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cheques.List.FirstOrDefault().EstadoCheque)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cheques.List.FirstOrDefault().Valor)
                    </th>
                </tr>
            </thead>
            <tbody class="table-body">
                @foreach (var item in Model.Cheques.List)
                {
                    <tr class="@(item.ItemRequerAtencao ? "bg-warning" : "")@(item.ItemProblema ? "bg-danger" : "")@(item.ItemBom ? "bg-success" : "")">
                        <td class="d-hidden">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Banco.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Conta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroCheque)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataEmissao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataVencimento)
                        </td>
                        <td>
                            @if (item.EstadoCheque == null)
                            {
                                <span class="font-italic">Indefinido</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.EstadoCheque.Estado)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="col s12 m12">
            <ul class="pagination center pt-2">
                @{
                    var queryStringHelper = new Dictionary<string, string>
                                        {
                                            { "clienteId", Model.ClienteId?.ToString() },
                                            { "minValor", Model.MinValor?.ToString() },
                                            { "maxValor", Model.MaxValor?.ToString() },
                                            { "agencia", Model.Agencia?.ToString() },
                                            { "conta", Model.Conta?.ToString() },
                                            { "numeroCheque", Model.NumeroCheque?.ToString() },
                                            { "dataEmissao", Model.DataEmissao?.ToString() },
                                            { "dataVencimento", Model.DataVencimento?.ToString() },
                                            { "pageSize", Model.Cheques.PageSize.ToString() },
                                        };

                }

                @if (Model.Cheques.IsFirstPage)
                {
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                }
                else
                {
                    <li>
                        <a asp-all-route-data="queryStringHelper" asp-route-pageNumber="@(Model.Cheques.PageNumber - 1)"><i class="material-icons">chevron_left</i></a>
                    </li>
                }

                @for (int i = 1; i <= Model.Cheques.TotalPages; i++)
                {
                    <li class="waves-effect @(Model.Cheques.PageNumber == i ? "active" : "")">
                        <a asp-all-route-data="queryStringHelper" asp-route-pageNumber="@i" asp-route-pageSize="@Model.Cheques.PageSize">@i</a>
                    </li>
                }

                @if (Model.Cheques.IsLastPage)
                {
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                }
                else
                {
                    <li>
                        <a asp-all-route-data="queryStringHelper" asp-route-pageNumber="@(Model.Cheques.PageNumber + 1)"><i class="material-icons">chevron_right</i></a>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <p class="px-1 col s12 m12">
            <i class="material-icons left">warning</i>
            Nenhum cheque encontrado.
        </p>
    }
</div>