@model RCM.Presentation.Web.ViewModels.DuplicataIndexViewModel

@{
    ViewData["Title"] = "Duplicatas - Índice";
}

<float-action-button controller="Duplicatas"></float-action-button>

<div class="form-container col s12 m12">
    <form>
        <div class="col s12 m12">
            <div class="row my-0 py-0">
                <div class="input-field col s5 m5">
                    <label for="numeroDocumento">Número do Documento</label>
                    <input asp-for="NumeroDocumento" name="numeroDocumento" type="text" id="numeroDocumento" />
                </div>
                <div class="input-field col s4 m3">
                    <select>
                        <option value="numeroDocumento">Número do Documento</option>
                    </select>
                </div>
                <div class="col s4 m4 pt-2 px-0 mx-0 max-percent-width">
                    <a class="btn waves-effect purple left no-border col s1 m2" id="advancedSearchToggler">
                        <i class="material-icons center">keyboard_arrow_down</i>
                    </a><button type="submit" class="btn waves-effect purple no-border col s11 m10">
                        <i class="material-icons right">search</i>
                        Pesquisar
                    </button>
                </div>
            </div>
        </div>

        <div id="advancedSearch" class="col s12 m12">
            <div class="row">
                <div class="input-field col s12 m3">
                    <input asp-for="MinValor" name="minValor" type="text" class="input-field" id="minValor" />
                    <label for="minValor">Valor mínimo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="MaxValor" name="maxValor" type="text" class="input-field" id="maxValor" />
                    <label for="maxValor">Valor máximo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="DataInicial" name="dataInicial" type="text" class="datepicker" id="dataInicial" />
                    <label for="dataInicial">Data de Venc. Inicial</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="DataFinal" name="dataFinal" type="text" class="datepicker" id="dataFinal" />
                    <label for="dataFinal">Data de Venc. Final</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="fornecedorId" asp-for="FornecedorId" asp-items="@(new SelectList(Model.Fornecedores, "Id", "Nome"))" id="fornecedorId">
                        <option value="">Todos os fornecedores</option>
                    </select>
                    <label for="fornecedorId">Escolher Fornecedor</label>
                </div>
                <div class="col s12 m3 pt-3">
                    @{ if (Model.ApenasVencidas != null)
                        {
                            <input asp-for="ApenasVencidas.Value" name="apenasVencidas" type="checkbox" id="apenasVencidas" checked="checked" />
                        }
                        else
                        {
                            <input name="apenasVencidas" type="checkbox" id="apenasVencidas" value="true" />
                        }
                    }
                    <label for="apenasVencidas">Apenas duplicatas vencidas</label>
                </div>
                <div class="col s12 m3 pt-3">
                    @{ if (Model.ApenasNaoPagas != null)
                        {
                            <input asp-for="ApenasNaoPagas.Value" name="apenasNaoPagas" type="checkbox" id="apenasNaoPagas" checked="checked" />
                        }
                        else
                        {
                            <input name="apenasNaoPagas" type="checkbox" id="apenasNaoPagas" value="true" />
                        }
                    }
                    <label for="apenasNaoPagas">Mostrar apenas não pagas</label>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Duplicatas.List.Any())
    {
        <div class="row">
            <div class="col s12 m12">
                <div class="px-1">
                    <span>
                        @Model.TotalResultados resultados encontrados.
                    </span>
                    <span class="font-italic text-muted">
                        O valor total das duplicatas é de @Model.ValorTotalResultados.ToString("c").
                    </span>
                    @if (Model.ValorTotalVencidas > 0)
                    {
                        <span class="font-italic text-muted">O valor de @Model.ValorTotalVencidas.ToString("c") corresponde a títulos vencidos.</span>
                    }
                    else
                    {
                        <span class="font-italic text-muted">Não há valores de títulos vencidos.</span>
                    }
                </div>
            </div>
        </div>

        <div class="mx-2">
            <table class="highlight">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().NumeroDocumento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().DataEmissao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().DataVencimento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().Pagamento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().Fornecedor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().Valor)
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    @foreach (var item in Model.Duplicatas.List)
                    {
                        <tr class="@(item.Vencido ? "bg-danger" : "") @(item.Pago ? "bg-success" : "")">
                            <td class="d-hidden">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                <input type="checkbox" class="input-field checkable" id="@("input-"+item.Id)" />
                                <label for="@("input-"+@item.Id)"></label>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroDocumento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataEmissao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataVencimento)
                            </td>
                            <td class="@(item.Pagamento == null ? "font-italic" : "")">
                                @(item.Pagamento == null ? "Não paga" : item.Pagamento.DataPagamento.ToShortDateString())
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col s12 m12">
            @{
                var queryStringHelper = new Dictionary<string, string>
                    {
                         { "apenasNaoPagas", Model.ApenasNaoPagas?.ToString() },
                         { "apenasVencidas", Model.ApenasVencidas?.ToString() },
                         { "fornecedorId", Model.FornecedorId?.ToString() },
                         { "minValor", Model.MinValor?.ToString() },
                         { "maxValor", Model.MaxValor?.ToString() },
                         { "numeroDocumento", Model.NumeroDocumento?.ToString() },
                         { "dataEmissao", Model.DataInicial?.ToString() },
                         { "dataVencimento", Model.DataFinal?.ToString() },
                         { "pageSize", Model.Duplicatas.PageSize.ToString() },
                    };

                var listHelper = new Dictionary<string, string>().LoadPagination(Model.Duplicatas);
            }

            @Html.Partial("_Pagination", new ViewDataDictionary(this.ViewData)
        {
            { "listHelper", listHelper },
            { "queryStringHelper", queryStringHelper }
        })
        </div>
    }
    else
    {
        <p class="px-1 col s12 m12">
            <i class="material-icons left">warning</i>
            Nenhuma duplicata encontrada.
        </p>
    }
</div>

<div id="items-info-panel" class="z-depth-2">
    <div class="row">
        <div class="col s12 m7">
            <p>
            </p>
            <p>
            </p>
        </div>
        <div class="col s12 m5">
            <button type="button" id="select-button" class="btn btn-flat btn-small max-percent-width">Selecionar todas</button>
            <button type="button" id="unselect-button" class="btn btn-flat btn-small max-percent-width">Deselecionar todas</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/select-and-sum.js"></script>
}

