@model RCM.Presentation.Web.ViewModels.DuplicataIndexViewModel

@{
    ViewData["Title"] = "Duplicatas - Índice";
}

<float-action-button controller="Duplicatas"></float-action-button>

<div class="form-container col s12 m12">
    <form>
        @await Component.InvokeAsync("SearchBar", new Dictionary<string, string>() { { "Número do Documento", "numeroDocumento" } })

        <div id="advancedSearch" class="col s12 m12">
            <div class="row">
                <div class="input-field col s12 m3">
                    <input name="minValor" type="text" class="input-field" id="minValor" />
                    <label for="minValor">Valor mínimo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input name="maxValor" type="text" class="input-field" id="maxValor" />
                    <label for="maxValor">Valor máximo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input name="dataEmissao" type="text" class="datepicker" id="dataEmissao" />
                    <label for="dataEmissao">Data de Emissão</label>
                </div>
                <div class="input-field col s12 m3">
                    <input name="dataVencimento" type="text" class="datepicker" id="dataVencimento" />
                    <label for="dataVencimento">Data de Vencimento</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="fornecedorId" asp-items="@(new SelectList(Model.Fornecedores, "Id", "Nome"))" id="fornecedorId">
                        <option value="">Todos os fornecedores</option>
                    </select>
                    <label for="fornecedorId">Escolher Fornecedor</label>
                </div>
                <div class="col s12 m3 pt-3">
                    @{ if (Context.Request.Query.ContainsKey("apenasVencidas"))
                        {
                            var value = Context.Request.Query.FirstOrDefault(k => k.Key == "apenasVencidas");
                            if (value.Value == "true")
                            {
                                <input name="apenasVencidas" type="checkbox" id="apenasVencidas" value="true" checked="checked" />
                            }
                        }
                        else
                        {
                            <input name="apenasVencidas" type="checkbox" id="apenasVencidas" value="true" />
                        }
                    }
                    <label for="apenasVencidas">Apenas duplicatas vencidas</label>
                </div>
                <div class="col s12 m3 pt-3">
                    @{ if (Context.Request.Query.ContainsKey("apenasNaoPagas"))
                        {
                            var value = Context.Request.Query.FirstOrDefault(k => k.Key == "apenasNaoPagas");
                            if (value.Value == "true")
                            {
                                <input name="apenasNaoPagas" type="checkbox" id="apenasNaoPagas" value="true" checked="checked" />
                            }
                        }
                        else
                        {
                            <input name="apenasNaoPagas" type="checkbox" id="apenasNaoPagas" value="true" />
                        }
                    }
                    <label for="apenasNaoPagas">Mostrar apenas não pagas</label>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Duplicatas.Any())
    {
        <table class="highlight centered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.FirstOrDefault().NumeroDocumento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.FirstOrDefault().DataEmissao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.FirstOrDefault().DataVencimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.FirstOrDefault().Pagamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.FirstOrDefault().Fornecedor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.FirstOrDefault().Valor)
                    </th>
                </tr>
            </thead>
            <tbody class="table-body">
                @foreach (var item in Model.Duplicatas)
                {
                    <tr>
                        <td class="d-hidden">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroDocumento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataEmissao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataVencimento)
                        </td>
                        <td>
                            @if (item.Pagamento.IsEmpty)
                            {
                                <span class="font-italic">Não paga</span>
                            }
                            else
                            {
                                @item.Pagamento.DataPagamento.ToShortDateString()
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="px-1 col s12 m12">
            <i class="material-icons left">warning</i>
            Nenhuma duplicata encontrada.
        </p>
    }
</div>