@model RCM.Presentation.Web.ViewModels.DuplicataIndexViewModel

@{
    ViewData["Title"] = "Duplicatas - Índice";
}

<float-action-button controller="Duplicatas"></float-action-button>

<div class="form-container col s12 m12">
    <form>
        <div class="col s12 m12">
            <div class="row my-0 py-0">
                <div class="input-field col s5 m5">
                    <label for="numeroDocumento">Número do Documento</label>
                    <input asp-for="NumeroDocumento" name="numeroDocumento" type="text" id="numeroDocumento" />
                </div>
                <div class="input-field col s4 m3">
                    <select>
                        <option value="numeroDocumento">Número do Documento</option>
                    </select>
                </div>
                <div class="col s4 m4 pt-2 px-0 mx-0 max-percent-width">
                    <a class="btn waves-effect purple left no-border col s1 m2" id="advancedSearchToggler">
                        <i class="material-icons center">keyboard_arrow_down</i>
                    </a><button type="submit" class="btn waves-effect purple no-border col s11 m10">
                        <i class="material-icons right">search</i>
                        Pesquisar
                    </button>
                </div>
            </div>
        </div>

        <div id="advancedSearch" class="col s12 m12">
            <div class="row">
                <div class="input-field col s12 m3">
                    <input asp-for="MinValor" name="minValor" type="text" class="input-field" id="minValor" />
                    <label for="minValor">Valor mínimo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="MaxValor" name="maxValor" type="text" class="input-field" id="maxValor" />
                    <label for="maxValor">Valor máximo</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="DataEmissao" name="dataEmissao" type="text" class="datepicker" id="dataEmissao" />
                    <label for="dataEmissao">Data de Emissão</label>
                </div>
                <div class="input-field col s12 m3">
                    <input asp-for="DataVencimento" name="dataVencimento" type="text" class="datepicker" id="dataVencimento" />
                    <label for="dataVencimento">Data de Vencimento</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="fornecedorId" asp-for="FornecedorId" asp-items="@(new SelectList(Model.Fornecedores, "Id", "Nome"))" id="fornecedorId">
                        <option value="">Todos os fornecedores</option>
                    </select>
                    <label for="fornecedorId">Escolher Fornecedor</label>
                </div>
                <div class="col s12 m3 pt-3">
                    @{ if (Model.ApenasVencidas != null)
                        {
                            <input asp-for="ApenasVencidas.Value" name="apenasVencidas" type="checkbox" id="apenasVencidas" checked="checked" />
                        }
                        else
                        {
                            <input name="apenasVencidas" type="checkbox" id="apenasVencidas" value="true" />
                        }
                    }
                    <label for="apenasVencidas">Apenas duplicatas vencidas</label>
                </div>
                <div class="col s12 m3 pt-3">
                    @{ if (Model.ApenasNaoPagas != null)
                        {
                            <input asp-for="ApenasNaoPagas.Value" name="apenasNaoPagas" type="checkbox" id="apenasNaoPagas" checked="checked" />
                        }
                        else
                        {
                            <input name="apenasNaoPagas" type="checkbox" id="apenasNaoPagas" value="true" />
                        }
                    }
                    <label for="apenasNaoPagas">Mostrar apenas não pagas</label>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Duplicatas.List.Any())
    {
        <div class="row">
            <div class="col s12 m12">
                <div class="px-1">
                    <span>
                        @Model.TotalResultados resultados encontrados.
                    </span>
                    <span class="font-italic text-muted">
                        O valor total das duplicatas é de @Model.ValorTotalResultados.ToString("c").
                    </span>
                    @if (Model.ValorTotalVencidas > 0)
                    {
                        <span class="font-italic text-muted">O valor de @Model.ValorTotalVencidas.ToString("c") corresponde a títulos vencidos.</span>
                    }
                    else
                    {
                        <span class="font-italic text-muted">Não há valores de títulos vencidos.</span>
                    }
                </div>
            </div>
        </div>

        <table class="highlight centered">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().NumeroDocumento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().DataEmissao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().DataVencimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().Pagamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().Fornecedor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duplicatas.List.FirstOrDefault().Valor)
                    </th>
                </tr>
            </thead>
            <tbody class="table-body">
                @foreach (var item in Model.Duplicatas.List)
                {
                    <tr class="@(item.Vencido ? "bg-danger" : "")@(item.Pago ? "bg-success" : "")">
                        <td class="d-hidden">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            <input type="checkbox" class="input-field checkable" id="@("input-"+item.Id)" />
                            <label for="@("input-"+@item.Id)"></label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroDocumento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataEmissao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataVencimento)
                        </td>
                        <td class="@(item.Pagamento.IsEmpty ? "font-italic" : "")">
                            @(item.Pagamento.IsEmpty ? "Não paga" : item.Pagamento.DataPagamento.ToShortDateString())
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="col s12 m12">
            <ul class="pagination center pt-2">
                @{
                    var queryStringHelper = new Dictionary<string, string>
                                                                        {
                                                                            { "apenasNaoPagas", Model.ApenasNaoPagas?.ToString() },
                                                                            { "apenasVencidas", Model.ApenasVencidas?.ToString() },
                                                                            { "fornecedorId", Model.FornecedorId?.ToString() },
                                                                            { "minValor", Model.MinValor?.ToString() },
                                                                            { "maxValor", Model.MaxValor?.ToString() },
                                                                            { "numeroDocumento", Model.NumeroDocumento?.ToString() },
                                                                            { "dataEmissao", Model.DataEmissao?.ToString() },
                                                                            { "dataVencimento", Model.DataVencimento?.ToString() },
                                                                            { "pageSize", Model.Duplicatas.PageSize.ToString() },
                                                                        };

                }

                @if (Model.Duplicatas.IsFirstPage)
                {
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                }
                else
                {
                    <li>
                        <a asp-all-route-data="queryStringHelper" asp-route-pageNumber="@(Model.Duplicatas.PageNumber - 1)"><i class="material-icons">chevron_left</i></a>
                    </li>
                }

                @for (int i = 1; i <= Model.Duplicatas.TotalPages; i++)
                {
                    <li class="waves-effect @(Model.Duplicatas.PageNumber == i ? "active" : "")">
                        <a asp-all-route-data="queryStringHelper" asp-route-pageNumber="@i" asp-route-pageSize="@Model.Duplicatas.PageSize">@i</a>
                    </li>
                }

                @if (Model.Duplicatas.IsLastPage)
                {
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                }
                else
                {
                    <li>
                        <a asp-all-route-data="queryStringHelper" asp-route-pageNumber="@(Model.Duplicatas.PageNumber + 1)"><i class="material-icons">chevron_right</i></a>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <p class="px-1 col s12 m12">
            <i class="material-icons left">warning</i>
            Nenhuma duplicata encontrada.
        </p>
    }
</div>

<div id="items-info-panel" class="z-depth-2">
    <div class="row">
        <div class="col s12 m7">
            <p>
            </p>
            <p>
            </p>
        </div>
        <div class="col s12 m5">
            <button type="button" id="select-button" class="btn btn-flat btn-small max-percent-width">Selecionar todas</button>
            <button type="button" id="unselect-button" class="btn btn-flat btn-small max-percent-width">Deselecionar todas</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        //ALL THESE CODE SMELLS AND DUPLICATIONS WILL BE FIXED IN A LATER TIME
        var panel = $('#items-info-panel');
        var items = $('.checkable');
        var totalItemValue = 0;
        var selectedItems = 0;

        unselectAll();

        function normalizeCurrency(value) {
            return value.trim().replace('R$', '').replace('.', '').replace(',', '.');
        }

        $(items).change(function () {
            var selectedValue = $(this).parents('tr').children().last().text();
            selectedValue = normalizeCurrency(selectedValue);

            if ($(this).prop('checked')) {
                addToSum(selectedValue)
            } else {
                removeFromSum(selectedValue);
            }
        });

        $('#unselect-button').click(function () {
            unselectAll();
        })

        $('#select-button').click(function () {
            selectAll();
        })


        function addToSum(value) {
            selectedItems++;
            totalItemValue += parseFloat(value);

            if (selectedItems > 0) {
                showPanel();   
            }
        }

        function hidePanel() {
            $(panel).slideUp('200', function () {
                $(panel).children().eq(0).text();
                $(panel).children().eq(1).text();
            });
        }

        function showPanel() {
            $(panel).find('p').eq(0).text("Valor total das duplicatas: " + "R$" + totalItemValue.toFixed(2).replace('.', ','));
            $(panel).find('p').eq(1).text("Duplicatas selecionadas: " + selectedItems);
            $(panel).slideDown('200');
        }

        function removeFromSum(value) {
            selectedItems--;
            totalItemValue -= parseFloat(value);

            if (selectedItems == 0) {
                hidePanel(); 
            }
        }

        function unselectAll() {
            $(items).removeAttr('checked');

            selectedItems = 0;
            totalItemValue = 0;
            hidePanel();
        }

        function selectAll() {
            selectedItems = 0;
            totalItemValue = 0;

            $(items).prop('checked', 'checked');
            
            $(items).each(function () {
                var value = $(this).parents('tr').children().last().text();
                value = normalizeCurrency(value);

                addToSum(value);
            })
        }
    </script>
}

