@model IEnumerable<RCM.Application.ViewModels.DuplicataViewModel>

@{
    ViewData["Title"] = "Duplicatas - Índice";
}

<float-action-button controller="Duplicatas"></float-action-button>

<div class="form-container col s12 m12">
    @await Component.InvokeAsync("SearchBar", new Dictionary<string, string>() { { "Número do Documento", "documentoPrefix" }, { "Nome do Fornecedor", "fornecedorPrefix" } })

    @if (Model.Any())
    {
        <table class="highlight centered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroDocumento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataEmissao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataVencimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataPagamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fornecedor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                </tr>
            </thead>
            <tbody class="table-body">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="d-hidden">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroDocumento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataEmissao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataVencimento)
                        </td>
                        <td>
                            @if (item.DataPagamento == null)
                            {
                                <span class="font-italic">Não paga</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.DataPagamento)
                            }
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Fornecedores" asp-route-id="@item.Fornecedor.Nome">
                                @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="px-1">
            <i class="material-icons left">warning</i>
            Nenhuma duplicata encontrada.
        </p>
    }
</div>